body {
  background-color: $body-bg;
  color: $primary;
}

a {
  text-decoration: none;
  color: $primary;
}

.container {
  max-width: 1050px;
  padding: 0 32px;
  margin: 0 auto;
}

//flex
.flex {
  display: flex;
  justify-content: space-between;
}
.display-flex {
  display: flex;
}


.flex-row{
    flex-direction: row;
}


.justify-space {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.center {
  text-align: center;
}

